$default: #000;
$accent: #d87d4a;
$title: #fff;
$bg: #f1f1f1;
$bg_black: #191919;

%btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  text-transform: uppercase;
  box-shadow: 0 7px 15px 0 rgba(24, 22, 22, 0.3);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

%input {
  background: #fff;
  border: 1px solid #cfcfcf;
  width: 290px;
  height: 56px;
  padding: 0px 5px 0px 15px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000;
  outline-color: #000;
}

%radio-hidden {
  width: 0px;
  height: 0px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: relative;
}
