@import 'vars';
@import 'reset';

html,
body {
  height: 100%;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
  @media (max-width: 768px) {
    max-width: 689px;
  }
}

.h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 44px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

.h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.overline {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  color: #ffffff80;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button_orange {
  @extend %btn;
  background-color: $accent;
  color: #fff;
  border: 2px solid transparent;
  &:hover {
    background-color: #fbaf85;
  }
}

.button_white {
  @extend %btn;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  &:hover {
    background-color: $default;
    color: #fff;
  }
}

.button_arrow {
  @extend %btn;
  padding: 0;
  color: $default;
  opacity: 0.5;
  box-shadow: none;
  background-color: transparent;
  border: none;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 4px;
    right: -20px;
    width: 8px;
    height: 12px;
    background-image: url('../assets/shared/desktop/icon-arrow-right.svg');
  }
  &:hover {
    color: $accent;
    background-color: transparent;
  }
}

.input__text {
  @extend %input;
  &::placeholder {
    color: #000;
    opacity: 0.4;
    letter-spacing: -0.25px;
    font-size: 14px;
  }
  &:focus {
    border-color: $accent;
    outline-color: $accent;
  }
  &--error {
    border: 2px solid #cd2c2c;
    outline-color: #cd2c2c;
  }

  @media (max-width: 500px) {
    width: 260px;
  }
}

.payment {
  &__label {
    @extend %input;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    &:hover {
      border-color: $accent;
    }
  }
  &__input {
    @extend %radio-hidden;
    &:checked + .payment__radio span {
      background-color: $accent;
      border-radius: 50%;
    }
  }
  &__radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #cfcfcf;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    span {
      display: inline-block;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 4px;
      left: 4px;
    }
  }
}

.number {
  padding: 0;
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  &__field {
    width: 114px;
    border: none;
    transform: translateY(1px);
  }
  &__input {
    width: 100%;
    height: 50px;
    outline-color: $bg;
    color: $default;
    text-align: center;
    background-color: $bg;
    border: none;
  }
  &__spin {
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.25;
    &::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 1px;
      width: 9px;
      height: 1px;
      background-color: $default;
    }
    &.minus {
      left: 15px;
    }
    &.plus {
      left: 85px;
      line-height: 0;
      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 5px;
        width: 1px;
        height: 9px;
        background-color: $default;
      }
    }
  }
}
